*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 10vh;
    display: block;
    background-color: #5e4d00;
}
.inner-header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logo-container{
    height: 100%;
    display: table;
    float: left;
}
.logo-container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Noto Sans JP";
    font-size: 32px;
    font-weight: 300;
}
.logo-container h1 span{
    font-weight: 700;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a li{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: "Noto Sans JP";
    font-size: 16px;
    padding: 0px 20px;
}
.navigation a :last-child{
    padding-right: 0px;
}

.content{
    width: 100%;
    height: 80vh;
    background-color: #eaf1e8;
}

.content-nav-bg{
    width: 100%;
    height: 5vh;
    background-color: #e1ebe7;
    font-family: "Noto Sans JP";
}

.content-nav{
    width: 100%;
    font-family: "Noto Sans JP";
    height: 100%;
    display: flex;
    align-items: center;
}

.content-nav h2{
    color: #000000;
    float: left;
    padding-left: 20px;
}

.vertical-line {
    border-left: 2px solid #000;
    height: 100%; 
    margin: 0 25px;
}

.content-nav-ul{
    display: table;
    color: black;
    float: left;
    padding-left: 5px;
    height: 80%;
    margin: 0;
    border-spacing: 15px;
}

.content-nav-ul li{
    display: table-cell;
    color: black;
    padding: 5px;
    vertical-align: middle;
    font-size: larger;

    background-color: #c6cfcc;
    border-radius: 8px;
    text-align: center;
}

.content-nav-ul li.active {
    background-color: #404a4d; 
    color: #ecfdfd; 
}

.recommended-grid{
    display: grid;
    padding-top: 12px;
    padding-left: 5vw;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(4, 15vh);
    gap: 20px;
    font-family: "Noto Sans JP";
}

.recommended-grid-cell{
    color: #cccccc;
    display: flex;
    align-items: left;
    font-size: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: #383838;
    border: 2px solid #cccccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.recommended-grid-cell p{
    font-size: 14px;
}